* {
	font-family: roboto;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	text-decoration: none;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.container > main,
section {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 85%;
	margin: 0 auto;
}

header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 30px 0 30px 0;
}

.logo {
	color: #d6000d;
	font-size: 3em;
	font-style: italic;
	font-weight: bold;
}

.ponto {
	color: black;
}

a {
	color: black;
	margin: 0 1em 0 1em;
	font-size: 1.1em;
}
button {
	background-color: #d6000d;
	border-radius: 7px;
	color: white;
	font-size: 0.8em;
	font-weight: bold;
	padding: 0.4em 2em 0.4em 2em;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 60px 0 60px 0;
}

.container-da-imagem {
	width: 500px;
	position: relative;
}

input {
	background-color: rgba(58, 54, 55, 0.212);
	border-radius: 7px;
	border: none;
	color: grey;
	font-size: 0.8em;
	padding: 0.3em 2em 0.3em 2em;
}

img {
	width: 60%;
}

main > div > button {
	margin-top: 50px;
}
h1 {
	font-size: 1em;
}

main > div > p {
	color: #d6000d;
	font-size: 2.8em;
	font-weight: bolder;
}

.icon {
	width: 2%;
}

footer {
	background-color: black;
	color: white;
}
