* {
	font-family: roboto;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	text-decoration: none;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 30px 0 100px 0;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 85%;
	margin: 100px 0 100px 0;
}

.logo {
	color: #d6000d;
	font-size: 3em;
	font-style: italic;
	font-weight: bold;
}

.ponto {
	color: black;
}

a {
	color: black;
	margin: 0 1em 0 1em;
	font-size: 1.1em;
}
button {
	background-color: #d6000d;
	border-radius: 7px;
	color: white;
	font-size: 0.8em;
	font-weight: bold;
	padding: 0.4em 2em 0.4em 2em;
}

.container-da-imagem {
	width: 500px;
	position: relative;
}

input {
	background-color: rgba(58, 54, 55, 0.212);
	border-radius: 7px;
	border: none;
	color: grey;
	font-size: 0.8em;
	padding: 0.3em 2em 0.3em 2em;
}

img {
	width: 400px;
}

main > div > button {
	margin-top: 50px;
}
h1 {
	font-size: 1em;
}

main > div > p {
	color: #d6000d;
	font-size: 2.8em;
	font-weight: bolder;
}

.check {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 85%;
	margin: 200px;
}

.check-list {
	display: block;
}

.check-list-borda {
	align-items: center;
	background-color: #d6000d;
	border-radius: 50%;
	color: white;
	font-family: system-ui;
	display: flex;
	height: 20px;
	margin-right: 30px;
	width: 20px;
	text-align: center;
}

.check-list > div {
	display: flex;
	align-items: center;
}
.icon {
	width: 2%;
}

.depoimentos {
	margin: 100px;
}

footer {
	background-color: black;
	color: white;
}
